@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

@font-face {
  font-family: "Gill Sans";
  src: url("/Fonts/Gill Sans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url("/Fonts/Gill Sans Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans";
  src: url("/Fonts/Gill Sans Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans";
  src: url("/Fonts/Gill Sans Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans";
  src: url("/Fonts/Gill Sans Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

.topic-image {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25px;
  padding-bottom: 10px;
}

.header-row {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-title {
  margin-top: 10px;
}

.all-articles-section {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  width: fit-content;
}

.topics-container {
  width: 100%;
  max-height: 700px;
  margin: 0 auto;
  padding: 10px 20px;
}

.article-card:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease-in-out;
}

.create-article-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--color-bg);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-article-container h1 {
  text-align: center;
  font-size: 20px;
  color: var(--colour-text);
  margin-bottom: 20px;
}

.create-article-form {
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.create-article-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.dark .create-article-form label {
  color: var(--colour-text);
}

.dark #title,
.dark #body,
.dark #topic {
  background-color: var(--colour-fg);
  color: var(--color-text);
}

.create-article-form input[type="text"],
.create-article-form textarea,
.create-article-form select {
  font-family: sans-serif;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

#create-article-button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--colour-primary);
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 10px;
  height: 31px;
  font-size: 15px;
}

#create-article-button:hover {
  background-color: var(--colour-accent);
  transform: scale(1.05);
}

.create-topic-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--color-bg);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-topic-container h1 {
  text-align: center;
  font-size: 20px;
  color: var(--colour-text);
  margin-bottom: 20px;
}

.dark .create-topic-container h1 {
  color: var(--colour-text);
}

.create-topic-form {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.create-topic-form label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.dark .create-topic-form label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--colour-text);
}

.dark #slug {
  background-color: var(--colour-fg);
  color: var(--color-text);
}

.dark #description {
  background-color: var(--colour-fg);
  color: var(--color-text);
}

#post-button {
  background-color: var(--colour-primary);
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 10px;
  height: 45px;
  font-size: 15px;
}

#post-button:hover {
  background-color: var(--colour-accent);
  transform: scale(1.05);
}

.create-topic-form input[type="text"],
.create-topic-form textarea,
.create-topic-form select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.create-topic-form input[type="submit"] {
  padding: 12px 20px;
  background-color: var(--colour-primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.create-topic-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.article-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: var(--colour-bg);
  padding: 16px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.article-img {
  margin-top: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 100%;
  background-color: var(--colour-bg);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 5px;
  gap: 8px;
}

.logo {
  width: auto;
  height: 100px;
  object-fit: fill;
  display: block;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.article-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-gap);
  margin: 0 auto;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
}

.article-title a {
  text-decoration: none;
  font-weight: 600;
}

.article-title:hover {
  text-decoration: underline;
}

.article-content {
  text-align: left;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  width: 100%;
}

.article-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.article-interaction-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.single-article-comments-box {
  font-size: 16px;
  padding: 8px 16px;
  border-left: 1px solid #ccc;
}

.article-author {
  font-size: 14px;
  font-style: italic;
  color: #555;
  margin-top: 5px;
}

.article-meta {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: -5px;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.article-footer {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-top: 1px solid #eee;
  font-size: 8px;
  color: #777;
}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.topic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: var(--colour-bg);
  gap: 16px;
  padding: 16px;
  text-decoration: none;
}

.topic-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.topic-image-wrapper {
  width: 100%;
  height: 200px;
}

.topic-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.topic-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topic-title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 8px;
  margin-top: 8px;
  align-self: center;
}

.topic-title:hover {
  text-decoration: underline;
}

.votes-and-comments-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.comments-container {
  margin-top: 10px;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  background: #13293d;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.comments-value {
  font-size: 12px;
  color: white;
  justify-content: center;
  white-space: nowrap;
}

.comments-value a {
  text-decoration: none;
  color: white;
}

.comments-value :hover {
  color: #0073e6;
}

.dark .comments-value a {
  color: var(--colour-text);
}

.dark .comments-value :hover {
  color: #81a1c1;
}

.votes-value {
  margin-top: 10px;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  background: #13293d;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  font-size: 12px;
}

.votes-value :hover {
  color: #0073e6;
}

.dark .votes-value {
  background-color: var(--colour-fg);
  text-decoration: none;
}

.dark .votes-container {
  background-color: #444;
}

.votes-value a {
  text-decoration: none;
  color: white;
}

.single-article-comments-value {
  font-size: 16px;
  color: rgb(26, 26, 26);
  justify-content: center;
  white-space: nowrap;
}

.dark .single-article-comments-value {
  font-size: 16px;
  justify-content: center;
  white-space: nowrap;
  color: white;
}

.vote-container {
  border-radius: 10px;
  background-color: var(--colour-primary);
  max-width: 130px;
  display: flex;
  justify-content: center;
}

.vote-button {
  font-size: 16px;
  cursor: pointer;
  background-color: var(--colour-primary);
  border: none;
}

.vote-button:hover,
.comment-vote-button:hover,
.delete-button:hover {
  transform: scale(1.2);
}

.vote-count {
  font-weight: bold;
  padding: 8px 0px;
  background: #13293d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0;
}

.dark .vote-icon {
  justify-content: center;
  align-items: center;
}

.vote-icon {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}

.error-message {
  font-weight: bold;
  color: red;
  align-self: center;
}

.confirmation-message {
  font-weight: bold;
  color: green;
}

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--colour-grey);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, border-color 0.2s ease;
  font-size: 14px;
}

.delete-button:hover {
  transition: transform 0.2s ease, border-color 0.2s ease;
  background-color: rgb(255, 8, 8);
}
.card {
  padding: 2em;
}

.navigation-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  text-align: center;
}

.navigation-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.navigation-links a:hover {
  color: #007bff;
}

.welcome-message {
  display: none;
  text-align: center;
  background-color: var(--colour-bg);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 80%;
  margin-top: 10px;
}

.welcome-message h1 {
  font-size: 25px;
}

.welcome-message p {
  font-size: 15px;
}

.filters-container {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: var(--colour-light-grey);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dark .filters-container {
  background-color: black;
}

.sort-by-bar {
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  background-color: var(--colour-light-grey);
  border-radius: 8px;
  flex-direction: column;
  margin: 8px;
  font-size: 14px;
}

#sort-order-select {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

#topic-filter {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.sort-by-bar select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.topic-bar {
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  background-color: var(--colour-light-grey);
  border-radius: 5px;
  width: fit-content;
  margin: 8px;
}

.topic-bar select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.dark .topic-bar {
  background-color: var(--color-bg);
  color: white;
}

.dark .topic-bar select {
  color: white;
  background-color: #444;
}

.single-article {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: var(--colour-bg);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.article-header {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article-body {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--colour-text);
  padding: 10px 0;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment p {
  padding-top: 10px;
}

.dark .comment {
  border: transparent;
}

#comment-timestamp {
  font-style: italic;
  font-size: 16px;
  color: gray;
  text-align: right;
}

.comment-section {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  background: #a5a5a55b;
}

.dark .comment-section {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  background: black;
}

.comment-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.comment {
  position: relative;
  padding: 0px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  margin-top: 0px;
}

.comment-form {
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-vote-container {
  border-radius: 10px;
  background-color: var(--colour-primary);
  display: flex;
  justify-content: center;
  width: fit-content;
}

.comment-vote-button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: var(--colour-primary);
  border: none;
}

#add-comment-here {
  font-style: italic;
  font-size: 20px;
}

#comment-header {
  font-weight: bold;
}

#comment-author {
  font-weight: bold;
}

.comment-form button {
  font-weight: bold;
  padding: 12px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
}

.read-more-link {
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.read-more-link:hover {
  text-decoration: underline;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: var(--colour-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #0056b3;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-controls span {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: transparent;
}

#invalid-path-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: scale(0.6);
}
#invalid-path-animation h1 {
  display: flex;
  font-size: 30px;
}
#invalid-path-animation p {
  display: flex;
  font-size: 20px;
}
.dark {
  background-color: var(--colour-bg);
  color: var(--colour-bg);
}

.dark .header {
  width: 100%;
  background-color: var(--colour-primary);
  color: #e0e0e0;
}

.dark .article-card {
  background-color: black;
  color: #e0e0e0;
  border: 1px solid #444;
}

.dark .article-card:hover {
  background-color: #2c2c2c;
}

.dark .article-title,
.dark .article-meta {
  color: #e0e0e0;
}

.dark .article-author {
  color: #bbb;
}

.dark .article-footer {
  background-color: var(--colour-bg);
  color: #bbb;
}

.dark .topics-container {
  background-color: var(--colour-bg);
}

.dark .topic-card {
  background-color: var(--colour-bg);
  color: #e0e0e0;
  border: 1px solid #444;
}

.dark .topic-card:hover {
  background-color: #2c2c2c;
}

.dark .topic-title {
  color: #e0e0e0;
}

.dark .comments-container {
  background-color: #444;
}

.dark .navigation-links a {
  color: #e0e0e0;
}

.dark .navigation-links a:hover {
  color: #007bff;
}

.dark .welcome-message,
.dark .welcome-message h1 {
  font-weight: bold;
  background-color: #121212;
  color: #ffffff;
  margin-bottom: 10px;
}

.dark .welcome-message p {
  margin-bottom: 20px;
}

.dark .sort-by-bar {
  background-color: black;
}

.dark .sort-by-bar select,
.dark #order-by,
.dark #sort-by {
  background-color: #444;
  color: #e0e0e0;
  border: 1px solid #ffffff;
}

.dark .vote-container {
  background-color: var(--colour-primary);
}

.dark .vote-button:hover,
.dark .comment-vote-button:hover {
  background-color: #444;
}

.dark .vote-count,
.dark .vote-button {
  background-color: var(--colour-primary);
  color: #e0e0e0;
}

.dark .error-message {
  color: #ff5555;
}

.dark .confirmation-message {
  color: #4caf50;
}

.theme-toggle-button {
  position: absolute;
  top: 16px;
  right: 32px;
  background-color: var(--toggle-bg);
  color: var(--toggle-text);
  border: none;
  border-radius: 9999px;
  padding: 8px 16px;
  font-size: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.theme-toggle-button:hover {
  transform: scale(1.05);
}

.theme-toggle-button:active {
  transform: scale(0.97);
}

.profile-page {
  margin: 20px;
  background-color: var(--color-bg);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
}

.profile-page h1 {
  font-size: 20px;
  margin-top: 20px;
}

.profile-page p {
  font-size: 15px;
  margin: 5px 0;
}

#user-image {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30vw;
  max-width: 150px;
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
  border: 3px solid #ccc;
  transition: transform 0.3s ease;
  align-self: center;
}

.user-image:hover {
  transform: scale(1.05);
}

.dark .profile-page {
  --background: #1e1e1e;
  --text: #ffffff;
  border: 1px solid #333;
}

:root {
  --colour-bg: #ffffff;
  --colour-text: #000000;
  --colour-primary: #13293d;
  --colour-accent: #007bff;
  --colour-grey: #444;
  --colour-light-grey: #d3d3d3;
  --spacing-gap: 16px;
}

.dark {
  --colour-bg: #121212;
  --colour-fg: #444;
  --colour-text: #e0e0e0;
  --colour-primary: #333;
  --colour-accent: #007bff;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (min-width: 640px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .navigation-links {
    flex-direction: row;
    gap: 15px;
  }
  .theme-toggle-button {
    font-size: 12px;
  }
  .welcome-message {
    display: block;
  }
  .filters-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .sort-by-bar {
    flex-direction: row;
  }
  .create-topic-container h1 {
    font-size: 20px;
  }
  .create-topic-form label {
    font-size: 15px;
  }
  .create-topic-container {
    padding: 20px 50px;
  }
  #slug,
  #description {
    font-size: 12px;
  }
  .create-topic-form input[type="submit"] {
    font-size: 15px;
  }
  #invalid-path-animation h1 {
    display: flex;
    font-size: 45px;
  }
  #invalid-path-animation p {
    display: flex;
    font-size: 30px;
  }
  .error-message {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 150px;
    height: auto;
  }
  .theme-toggle-button {
    font-size: 12px;
  }
  .filters-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .sort-by-bar {
    flex-direction: row;
  }
  .all-articles-section {
    margin: 0 auto;
  }
  .article-grid {
    grid-template-columns: 1fr 1fr;
  }
  .comments-value {
    font-size: 14px;
  }
  .votes-value {
    font-size: 14px;
  }
  .create-topic-container h1 {
    font-size: 25px;
  }
  .create-article-container h1 {
    font-size: 25px;
  }
  .profile-page h1 {
    font-size: 25px;
    margin-top: 20px;
  }
  .profile-page p {
    font-size: 20px;
    margin: 5px 0;
  }
  .error-message {
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 30px;
  }
  .logo {
    width: 250px;
    height: auto;
  }
  .theme-toggle-button {
    font-size: 12px;
  }
  .welcome-message {
    padding: 30px;
  }
  .header-row {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .all-articles-section {
    display: flex;
    margin: 0 auto;
  }
  .article-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .articles-section {
    max-width: 900px;
    margin: 0 auto;
  }
  .article-grid .article-card:nth-child(1),
  .article-grid .article-card:nth-child(5n) {
    grid-column: span 3;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .article-grid .article-img:nth-child(1),
  .article-grid .article-img:nth-child(5n) {
    max-width: 500px;
  }
  .sort-by-bar {
    flex-direction: row;
  }
  .navigation-links {
    font-size: 20px;
  }
  .create-topic-container h1 {
    font-size: 25px;
  }
  .create-article-container h1 {
    font-size: 25px;
  }
  #post-button {
    font-size: 20px;
    width: fit-content;
  }
  .comments-value {
    font-size: 14px;
  }
  .votes-value {
    font-size: 14px;
  }
  #post-button {
    font-size: 15px;
  }
  .error-message {
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 300px;
    height: auto;
  }
  .navigation-links a {
    font-size: 20px;
  }
  .theme-toggle-button {
    font-size: 15px;
  }
  .header-title {
    font-size: 30px;
  }
  .welcome-message h1 {
    font-size: 30px;
  }
  .welcome-message p {
    font-size: 16px;
  }
  .all-articles-section {
    min-width: 900px;
  }
  .article-grid {
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: nowrap;
  }
  .article-title {
    font-size: 22px;
  }
  .article-meta {
    font-size: 18px;
  }
  .article-author {
    font-size: 16px;
  }
  .all-articles-section {
    display: flex;
    align-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .create-article-container h1 {
    font-size: 30px;
  }
  .create-article-form label {
    font-size: 20px;
  }
  .create-topic-container h1 {
    font-size: 30px;
  }
  .create-topic-form label {
    font-size: 20px;
  }
  #slug,
  #description {
    font-size: 15px;
  }
  .comments-value {
    font-size: 14px;
  }
  .votes-value {
    font-size: 14px;
  }
  #post-button {
    font-size: 18px;
  }
  .error-message {
    font-size: 18px;
  }
  .all-articles-section {
    max-width: 1500px;
  }
  .topics-container {
    max-width: 1150px;
  }
}

@media screen and (min-width: 1536px) {
  .all-articles-section {
    min-width: 1200px;
  }
  .articles-section {
    min-width: 1200px;
  }
  .topics-container {
    max-width: 1200px;
  }
}
