:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color: #030303;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 24px;
  width: 100%;
}

/* a {
  font-weight: 500;
  color: #030303;
  text-decoration: none;
} */

a:hover {
  color: #005bb5;
}

button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 10px;
}

button:hover {
  border-color: #0073e6;
}

button:focus,
button:focus-visible {
  outline: 2px auto #0073e6;
}

.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --link-color: #81a1c1;
  --button-background: #333333;
  --button-hover-border: #0073e6;
  --button-focus-outline: #0073e6;
}

.dark body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark a {
  color: var(--link-color);
}

.dark a:hover {
  color: #81a1c1;
}

.dark button {
  background-color: var(--button-background);
  color: var(--text-color);
}

.dark button:hover {
  border-color: var(--button-hover-border);
}

.dark button:focus,
.dark button:focus-visible {
  outline: 2px solid var(--button-focus-outline);
}

.dark :root {
  background-color: black;
}
